@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.reviews_cont{
  width: 90%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.reviews_cont_header{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.reviews_cont_header h1{
  font-size: 2rem;
  font-weight: lighter;
}
.review{
  border: none;
  box-shadow: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  transition: 0.3s;
  padding: 0.5rem;
  padding-top: 1rem;
  font-size: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  cursor: pointer;
  height: 210px;
  border-top: 5px solid #f8f7fd;
  background-color: linear-gradient(to top, hsl(216, 75%, 97%), hsl(216, 38%, 95%));
}
.review:hover {
  border-color: hsl(204, 91%, 53%);
  background-color: hsl(216, 38%, 95%);
  
}
.review_header{
  
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
 padding-left: 1rem;
 
  
  
}

.review_header h6{
  
  padding-left: 0.3rem;
  
}
.card-body{
  padding-top: 0;
  margin-top: 0;
}
